body {
    font-size: 16px;
    background-image: url('128000000002464129_LANDSCAPE Kopie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
	width: 800px;
	border: solid 4px rgb(14, 47, 86);
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: black;
}


img{
	height: Auto;
  width: 800px;
}

iframe {
  height: 400px;
  width: 800px;
}

.überschrift {
  font-size: 24px;
  text-align: center;
  float: center;
  font-family: SF Pro Display;
  color: #ffffff;
}


.navigation {
    float: center;
    color: darkgray;
}

ul {
    list-style-type: none;  /*  keine Punkte */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left; /* Menü Elemente nebeneinander horizontal */
  }
  
  li a {
    display: block; /* Damit das Menü gesamt als Block angezeigt wird und anklickbar ist */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Keine Unterstriche anzeigen unter dem Menü */
    font-family: SF Pro Display;
  }
  
  /* Hover Effekt */
  li a:hover:not(.active) {
    background-color: rgb(39, 94, 104);
    color: rgb(0, 0, 0); /* Textfarbe */
  }
  
  /* Augenfarbe Nina lol */
  .active {
    background-color: #003333;
  }

.werbung {
	height: 250px;
}

.Zwischennamen {
    color: white;
    font-family: SF Pro Display;
    font-size: 13px;
    margin-top: 50px;
    padding-left: 50px;
}

.uhrzeit {
    color: white;
    font-size: 20px;
    font-family: SF Pro Display;
    letter-spacing: 7px;
    position: relative;
    padding: 10px;


  }

  @font-face {
  font-family: "SF Pro Display";
  src: url("font/fontsfree-net-sfprodisplay-bold-webfont.woff") format("woff"),
  }


.column {
  float: left;
  width: 33.33%;
  color: white;
  font-size: 20px;
  font-family: SF Pro Display;
  padding-left: 50px;
  max-width: 500px;
}